    body {
        font: 0;
        padding: 0;
        margin: 0;
        background-image: url("/img/Eloise%20Grid%20(Transparent).png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: fixed;
        font-family: 'Bebas Neue', cursive;
    }
    
    footer {
        text-align: left;
        color: white;
    }
    
    .col-5 {
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
    }
    
    nav img {
        width: 200px;
        height: 200px;
        flex-direction: row;
    }
    
    .small-container {
        flex-direction: row;
    }
    
    .small-container {
        max-width: 50px;
        margin: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    h1 {
        text-align: center;
        margin-left: auto;
        font-size: 100px;
        color: -webkit-animation: rainbow 1s infinite;
        -ms-animation: rainbow 1s infinite;
        -o-animation: rainbow 1s infinite;
        animation: rainbow 1s infinite;
    }
    
    @-webkit-keyframes rainbow {
        0% {
            color: #ff0000;
        }
        10% {
            color: #ff8000;
        }
        20% {
            color: #ffff00;
        }
        30% {
            color: #80ff00;
        }
        40% {
            color: #00ff00;
        }
        50% {
            color: #00ff80;
        }
        60% {
            color: #00ffff;
        }
        70% {
            color: #0080ff;
        }
        80% {
            color: #0000ff;
        }
        90% {
            color: #8000ff;
        }
        100% {
            color: #ff0080;
        }
    }
    
    @-ms-keyframes rainbow {
        0% {
            color: #ff0000;
        }
        10% {
            color: #ff8000;
        }
        20% {
            color: #ffff00;
        }
        30% {
            color: #80ff00;
        }
        40% {
            color: #00ff00;
        }
        50% {
            color: #00ff80;
        }
        60% {
            color: #00ffff;
        }
        70% {
            color: #0080ff;
        }
        80% {
            color: #0000ff;
        }
        90% {
            color: #8000ff;
        }
        100% {
            color: #ff0080;
        }
    }
    
    @-o-keyframes rainbow {
        0% {
            color: #ff0000;
        }
        10% {
            color: #ff8000;
        }
        20% {
            color: #ffff00;
        }
        30% {
            color: #80ff00;
        }
        40% {
            color: #00ff00;
        }
        50% {
            color: #00ff80;
        }
        60% {
            color: #00ffff;
        }
        70% {
            color: #0080ff;
        }
        80% {
            color: #0000ff;
        }
        90% {
            color: #8000ff;
        }
        100% {
            color: #ff0080;
        }
    }
    
    @keyframes rainbow {
        0% {
            color: #ff0000;
        }
        10% {
            color: #ff8000;
        }
        20% {
            color: #ffff00;
        }
        30% {
            color: #80ff00;
        }
        40% {
            color: #00ff00;
        }
        50% {
            color: #00ff80;
        }
        60% {
            color: #00ffff;
        }
        70% {
            color: #0080ff;
        }
        80% {
            color: #0000ff;
        }
        90% {
            color: #8000ff;
        }
        100% {
            color: #ff0080;
        }
    }
    
    .description {
        position: absolute;
        margin-left: 25px;
        bottom: 5px;
        color: white;
    }
    
    .description :hover {
        transform: scale(105%);
        background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: rainbow_animation 6s ease-in-out infinite;
        background-size: 400% 100%;
    }
    
    @keyframes rainbow_animation {
        0%,
        100% {
            background-position: 0 0;
        }
        50% {
            background-position: 100% 0;
        }
    }
    
    ul li a {
        text-decoration: none;
        text-align: center;
        color: -webkit-animation: rainbow 1s infinite;
        -ms-animation: rainbow 1s infinite;
        -o-animation: rainbow 1s infinite;
        animation: rainbow 1s infinite;
    }
    
    @-webkit-keyframes rainbow {
        0% {
            color: #ff0000;
        }
        10% {
            color: #ff8000;
        }
        20% {
            color: #ffff00;
        }
        30% {
            color: #80ff00;
        }
        40% {
            color: #00ff00;
        }
        50% {
            color: #00ff80;
        }
        60% {
            color: #00ffff;
        }
        70% {
            color: #0080ff;
        }
        80% {
            color: #0000ff;
        }
        90% {
            color: #8000ff;
        }
        100% {
            color: #ff0080;
        }
    }
    
    @-ms-keyframes rainbow {
        0% {
            color: #ff0000;
        }
        10% {
            color: #ff8000;
        }
        20% {
            color: #ffff00;
        }
        30% {
            color: #80ff00;
        }
        40% {
            color: #00ff00;
        }
        50% {
            color: #00ff80;
        }
        60% {
            color: #00ffff;
        }
        70% {
            color: #0080ff;
        }
        80% {
            color: #0000ff;
        }
        90% {
            color: #8000ff;
        }
        100% {
            color: #ff0080;
        }
    }
    
    @-o-keyframes rainbow {
        0% {
            color: #ff0000;
        }
        10% {
            color: #ff8000;
        }
        20% {
            color: #ffff00;
        }
        30% {
            color: #80ff00;
        }
        40% {
            color: #00ff00;
        }
        50% {
            color: #00ff80;
        }
        60% {
            color: #00ffff;
        }
        70% {
            color: #0080ff;
        }
        80% {
            color: #0000ff;
        }
        90% {
            color: #8000ff;
        }
        100% {
            color: #ff0080;
        }
    }
    
    @keyframes rainbow {
        0% {
            color: #ff0000;
        }
        10% {
            color: #ff8000;
        }
        20% {
            color: #ffff00;
        }
        30% {
            color: #80ff00;
        }
        40% {
            color: #00ff00;
        }
        50% {
            color: #00ff80;
        }
        60% {
            color: #00ffff;
        }
        70% {
            color: #0080ff;
        }
        80% {
            color: #0000ff;
        }
        90% {
            color: #8000ff;
        }
        100% {
            color: #ff0080;
        }
    }
    
    ul li a :hover {
        color: white
    }